* {
   padding: 0;
   margin: 0;
   border: 0;
}

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   font: 300 17px 'Roboto', sans-serif;
   color: #4A4A4A;
   text-align: center;
}

a, a:visited {
   text-decoration: none; 	
   transition: all 0.5s ease;
}

a:hover {
   text-decoration: none;
}

img {
   max-width: 100%;
   object-fit: cover;
}

.btn {
   max-width: 313px;
   background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
   font-weight: 400;
   font-size: 21px;
   line-height: 1.1em;
   text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
   color: #FFFFFF;
   text-transform: uppercase;
   padding: 24px 0;
   font-family: Roboto Condensed;
   display: block;
   margin: 0 auto;
   cursor: pointer;
   white-space: nowrap;
}

.btn {
   background: linear-gradient(0deg, #1b6b83 0%, #1dafd8 100%);
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

/* Promo section */
.promo {
   background: url('../img/bg/main_bg.jpg') no-repeat center / cover;
   height: 100vh;
   padding: 38px 0 62px;
}

.logo__img {
   display: block;
   margin: 0 auto;
}

.logo__txt {
   color: #fff;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   margin-top: 10px;
}

.title {
   font-weight: 900;
   font-size: 41px;
   color: #F9BF3B;
   text-transform: uppercase;
}

.title-big {
   font-size: 80px;
   color: #fff;
   margin: 30px 0;
}

h1.title {
   margin-top: 53px;
} 

.promo-text {
   color: #fff;
   font-size: 21px;
   margin-top: 22px;
   line-height: 1.33em;
}

.promo-text span {
   font-weight: 700;
   color: #F9BF3B;
   text-transform: uppercase;
}

.promo-btn {
   margin-top: 72px;
}

.more__txt {
   color: #FFFFFF;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 200;
   margin-top: 70px;
}

/* Waiting section */
.waiting {
   padding-top: 88px;
   padding-bottom: 75px;
   background: #EFEFEF;
}

.section-title {
   font-weight: 400;
   font-size: 30px;
   text-transform: uppercase;
   color: #252525;
}

.divider {
   width: 220px;
   height: 7px;
   background: #F9BF3B;
   margin: 18px auto;

}
.waiting-subtitle {
   font-weight: 400;
   color: #4A4A4A;
   font-size: 23px;
}

.waiting-wrapper {
   margin-top: 45px;
   display: flex;
   justify-content: space-between;
}

.waiting-content {
   max-width: 342px;
}

.waiting-dasc {
   margin-top: 26px;
}

/* Opti section */
.opti {
   padding-top: 47px;
}

.opti-wrapper {
   display: flex;
   align-items: center;
}

.opti-img {
   margin-left: -240px;
   display: block;
}

.opti-box {
   margin-left: -240px;
   text-align: left;
   color: #4A4A4A;
   
}

.opti-title {
   font-size: 30px;
   font-weight: 900;
   text-transform: uppercase;
   color: #299CBD;
   
}
.opti-content {
   margin-top: 4px;
   line-height: 1.6em;
}
.opti-text {
   margin-bottom: 1px;
}

.opti-text:nth-child(4) {
   font-weight: 700;
}

/* Finish section */
.finish {
   background: url('../img/bg/second_bg.jpg') no-repeat center / cover;
   padding: 86px 0 69px;
   color: #EFEFEF;
}

.finish-title {
   color: #EFEFEF;
}

.finish-wrapper {
   display: flex;
   margin-top: 39px;
   justify-content: space-between;
}

.finish-item {
   max-width: 204px;
}

.finish-round {
   background-color: #B4E2FF;
   width: 118px;
   height: 118px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.finish-desc {
   margin-top: 24px;
}

/* Gift section */
.gift {
   padding: 85px 0 88px;
   background: #EFEFEF;
}

.gift-img {
   width: 154px;
   height: 178px;
   margin: 0 auto;
}

.gift-desc {
   margin-top: 45px;
   font-weight: 400;
   font-size: 30px;
   color: #252525;
}
.gift-btn {
   margin-top: 51px;
}

/* Pilot section */
.pilot {
   padding: 89px 0 53px;
}

.pilit-img {
   width: 342px;
   height: 201px;
   margin: 0 auto;
}

.pilot-title {
   margin-top: 36px;
   font-weight: 400;
   font-size: 30px;
   text-transform: uppercase;
   color: #252525;
}

.pilot-date {
   margin-top: 30px;
   font-weight: 900;
   font-size: 36px;
   text-transform: uppercase;
   color: #299CBD;
}

.pilot-desc {
   margin-top: 25px;
   font-weight: 400;
   color: #4A4A4A;
   font-size: 23px;
}

/* Footer */
.footer {
   font-size: 15px;
   background: #1A1A1A;
   color: #888888;
   padding: 55px 0 68px;
}

.footer-link a {
   color: #888888;
   text-decoration-line: underline;
   text-decoration-skip-ink: none;
}
.service {
}
.copy {
}
.footer-tel a {
   color: #888888;
}
.phone {
}

.container {
}
.footer-link {
}
.service {
}
.copy {
}
.footer-tel {
}
.phone {
}