body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

* {
box-sizing: border-box;
}

.title span {
	color: #FF7425;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: #150F38;
	color: fff;
	padding: 94px 0 124px 0;
}

.offer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.content {
	width: 540px;
}

.title {
	font-size: 35px;
	font-weight: 700;
	line-height: 1.5em;
}

.text {
	line-height: 1.7em;
	width: 384px;
	margin-bottom: 33px;
}

.btn {
	background: #FF7425;
	border-radius: 5px;
	color: fff;
	width: 213px;
	padding: 18px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
}

.photos {
	width: 517px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.photos img:nth-child(1),
.photos img:nth-child(2) {
	margin-bottom: 25px;
}

.scrolldown {
	display: block;
	background: url('../img/down.svg');
	width: 14px;
	height: 21px;
	margin-top: 163px;
}