/* !Specification */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   color: #000;
   font: 500 17px/1.4em 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
}

h1 {
   font-size: 55px;
   line-height: 1.1;
}

h2 {
   font-size: 40px;
   line-height: 1.1;
}

h3 {
   font-size: 25px;
}

h4 {
   font-size: 20px;
}



:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header {
   display: block;
}

input, button {
   font-family:inherit;
   outline: none;
   border: none;
   background-color: transparent;
}

button {
   cursor: pointer;
   transition: all 0.5s ease;
}

a, a:visited {
   text-decoration: none;
   /* color: inherit; */
   transition: all 0.5s ease;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   max-width: 100%;
   object-fit: cover;
}

.container {
	max-width: 1110px;
   margin: 0 auto;
}

.btn {
   padding: 22px 0;
   display: block;
   font-weight: 400;
   letter-spacing: 0.02em;
   text-align: center;
}

.first-btn {
   background-color: #6E9C9F;
   color: #fff;
}
.first-btn:hover {
   background-color: #509498;
}
.first-btn:active {
   background-color: #4F7779;
}

.second-btn {
   color: #6E9C9F;
   border: 1px solid #6E9C9F;
}
.second-btn:hover {
   background-color: #6E9C9F;
   color: #fff;
}
.second-btn:active {
   background-color: #4F7779;
}

.animate-link {
   border-bottom: 1px rgba(255, 255, 255, 0);
   padding-bottom: 5px;
}

.animate-link:hover {
   border-bottom: solid 1px #CEDEDF;
}


/* !header */
.header {
   padding-bottom: 60px;
   background: url('../img/Rectangle\ 1.png') right / 45% 100% no-repeat;
}

.header-box {
   display: flex;
   font-size: 15px;
   padding-top: 51px;
   padding-bottom: 41px;
   
}

.logo {
   background: url('../img/logo.svg');
   height: 25px;
   width: 139px;
   display: block;
}

.header__nav {
   padding: 0 206px 0 146px;
}

.nav {
}

.nav__list {
   display: flex; 
}

.nav__item a:hover, .nav__item_active a {
   color: #6E9C9F;
   font-weight: 700;
}

.nav__item:not(:last-child) {
   margin-right: 45px;
}

.nav__link {
   color: #000;
}

.header__tel {
   position: relative;
   padding: 0 79px 0 0;
   color: #000;
}

.header__tel::before {
   content: '';
   position: absolute;
   display: block;
   background: url('../img/phone.svg');
   width: 27px;
   height: 27px;
   left: -35px;
   transition: all 0.5s ease;
}

.header__tel:hover::before {
   content: '';
   background: url('../img/phone-hover.svg');
}

.header__bag {
   background: url('../img/shopping-bags.svg') no-repeat;
   height: 24px;
   width: 24px;
   position: relative;
}

.header__bag_sum {
   background: #998E78;
   font-size: 9px;
   line-height: 1.0;
   color: #fff;
   border-radius: 50%;
   position: absolute;
   top: -10px;
   right: -10px;
   padding: 1px 5px 3px;
   height: 15px;
   width: 15px;
}

.header-wrapper {
   display: flex;
   justify-content: space-between;
}

.header-wrapper__offer {
}
.offer-wrapper {
}
.offer-wrapper__slider {
}

.offer-wrapper__slides {
   display: none;
}

.offer-wrapper__slides_active {
   display: block;
}

.offer-wrapper__title {
   max-width: 565px;
   width: 100%;
   margin-top: 145px;
   margin-bottom: 45px;
   font-weight: 500;
}

.offer-wrapper__text {
   max-width: 385px;
   width: 100%;
   text-align: right;
   font-size: 20px;
   font-weight: 400;
}

.offer-wrapper__btn-box {
   display: flex;
   margin-left: 75px;
   margin-bottom: 126px;
   margin-top: 52px;
}

.box-btn__nav {
   height: 67px;
   width: 67px;
   background: rgba(110, 156, 159, 0.1) url('../img/arrow-button.svg') no-repeat center;
}

.box-btn__link {
   max-width: 243px;
   width: 100%;
}

.offer-wrapper__bullet {
   margin-left: 271px;
}

.bullet-wrapper {
   display: flex;
}

.bullet-wrapper__item {
   width: 30px;
   height: 4px;
   margin-right: 12px;
}

.bullet-wrapper__item:last-child {
   margin-right: 0;
}

.bullet-wrapper__item_offer-color {
   background-color: #D1D1D1;
}

.bullet-wrapper__item_offer-color_active {
   background-color: #000;
}

.header-wrapper__img {
   position: relative;
}

.img-wrapper {
}
.img-wrapper__slider {

}
.img-wrapper__slides {
   display: none;
}

.img-wrapper__slides_active {
   display: block;
}

.img-wrapper__second {
   position: absolute;
   top: 123px;
   right: -105px;
}

.img-wrapper__third {
   position: absolute;
   bottom: -60px;
   left: -130px;
}


/* !collection */
.collection {
   padding-top: 130px;
}

.collection__title {
   margin-bottom: 92px;
}

.collection__wrapper {
   display: flex;
   justify-content: space-between;
}

.collection__item {
}

.item-card {
   text-align: center;
}

.item-card__box {
   position: relative;
   max-width: 350px;
   width: 100%;
}

.item-card__img {
   display: block;
}

.item-card__overlay {
   display: flex;
   width: 100%;
   height: 100%;
   background: rgba(110, 156, 159, 0.77);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.item-card__overlay:hover {
   opacity: 1;
}

.item-card__overlay-work {
   display: block;
   margin: auto;
}

.item-cart__title {
   margin-top: 24px;
   margin-bottom: 7px;
}

.item-card__price {
   font-size: 15px;
   color: #998E78;
}

.item-card__price_no-discont {
   text-decoration-line: line-through;
   margin-right: 10px;
}

.item-card__price_discont {
}

.collection__btn {
   margin: 65px auto 0;
   max-width: 243px;
   width: 100%;
}


/* !advantages */
.advantages {
   padding-top: 130px;
}

.advatages__title {
}

.section-title {
}
.advantages__item {
   margin-top: 92px;
   display: flex;
   justify-content: space-between;
}
.advantages__card {
}
.card-advantages {
   max-width: 350px;
   width: 100%;
}

.card-advantages__icon {
   width: 61px;
   height: 61px;
   display: block;
}

.card-advantages__title {
   margin: 37px 0 24px;
}
.card-advantages__text {
   max-width: 302px;
   width: 100%;
}


/* !team */
.team {
   padding: 130px 0 149px;
}

.team__title {
   margin-bottom: 92px;
}

.team__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.team__slider {
   position: relative;
   max-width: 729px;
   width: 100%;
}

.slider-inner {
}

.slider-inner__slides {
   display: none;
}

.slider-inner__slides_active {
   display: block;
}

.team__bullet {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 61px;
}

.bullet-wrapper {
}

.bullet-wrapper__item_team-color {
   background: rgba(255, 255, 255, 0.36);
}
.bullet-wrapper__item_team-color_active {
   background: #FFFFFF;
}

.team__slider-control {
   height: 14px;
   width: 28px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

.team__slider-control_prev {
   background: url('../img/arrow-left.svg') no-repeat;
   left: -61px;
}

.team__slider-control_prev:hover {
   background: url('../img/arrow-left_hover.svg') no-repeat;
}

.team__slider-control_next {
   background: url('../img/arrow-right.svg') no-repeat;
   right: -61px;
}

.team__slider-control_next:hover {
   background: url('../img/arrow-right_hover.svg') no-repeat;
}

.team__content {
   max-width: 255px;
   width: 100%;
}

.content-box {
}

.content-box__title {
   margin-bottom: 28px;
}

.content-box__text:not(:last-child) {
   margin-bottom: 24px;
}

.content-box__link {
   margin-top: 28px;
   color: #6E9C9F;
}


/* !footer */
.footer {
   padding: 104px 0 101px;
   background-color: #F1EADC;
}

.footer-item {
   display: flex;
   justify-content: space-between;
}

.footer__info {
   max-width: 204px;
   width: 100%;
}

.footer__logo {
   margin-bottom: 70px;
}

.footer-link {
   color: #000;
   font-weight: 400;
   font-size: 13px;
}

.footer__copyright {
   font-weight: 400;
   font-size: 13px;
   margin-bottom: 6px;
}

.footer__policy {
   margin-bottom: 6px;
}

.footer__publik {
}

.footer-nav {
   display: block;
}

.footer__nav {
}
.nav {
}
.nav__list {
}
.nav__item {
}
.nav__item_active {
}
.nav__link {
}
.nav-clothes {
   margin: 39px 0 0 107px;
}
.nav-clothes__list {
}
.nav-clothes__item {
}
.nav-clothes__link {
}
.footer__contact {
   max-width: 158px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.footer__tel {
   font-size: 15px;
   font-weight: 400;
   color: #000;
   margin-bottom: 30px;
}
.footer__mail {
   font-size: 15px;
   font-weight: 400;
   color: #000;
   margin-bottom: 30px;
}
.footer__socials {
   display: flex;
   max-width: 90px;
   width: 100%;
   height: auto;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}

.instagram {
   background: url('../img/icon-instagram.svg') no-repeat;
   width: 22px;
   height: 22px;
}
.facebook {
   background: url('../img/icon-facebook.svg') no-repeat;
   width: 21px;
   height: 21px;
}
.twitter {
   background: url('../img/icon-twitter.svg') no-repeat;
   width: 23px;
   height: 23px;
}
.payments {
   background: url('../img/visa-mastercard\ 1.png') no-repeat center / cover;
   width: 68px;
   height: 22px;
}
