/* Specification */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   color: #000;
   font: 500 17px/1.4em 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-size: 55px;
   line-height: 1.1;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header {
   display: block;
}

input, button {
   font-family:inherit;
   outline: none;
   border: none;
   background-color: transparent;
}

button {
   cursor: pointer;
}

a, a:visited {
   text-decoration: none;
   color: inherit;
   transition: all 0.5s ease;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   max-width: 100%;
   object-fit: cover;
}

.container {
	max-width: 1110px;
   margin: 0 auto;
}

.first-btn {
   padding: 22px 50px;
   background-color: #6E9C9F;
   display: inline-block;
   font-weight: 400;
   letter-spacing: 0.02em;
   text-align: center;
}

.first-btn:hover {
   background-color: #509498;
}

.first-btn:active {
   background-color: #4F7779;
}

.second-btn {
   padding: 22px 50px;
   display: inline-block;
   color: #6E9C9F;
   border: 1px solid #6E9C9F;
   font-weight: 400;
   letter-spacing: 0.02em;
   text-align: center;
}

.second-btn:hover {
   background-color: #6E9C9F;
   color: #fff;
}

.second-btn:active {
   background-color: #4F7779;
}

/* header */
.header {
   padding-bottom: 60px;
   background: url('../img/Rectangle\ 1.png') right / 45% 100% no-repeat;
}

.header-box {
   display: flex;
   font-size: 15px;
   padding-top: 51px;
   padding-bottom: 41px;
}

.logo {
   background: url('../img/logo.svg');
   height: 25px;
   width: 139px;
   display: block;
}

.header__nav {
   padding: 0 206px 0 146px;
}

.nav {
}

.nav__list {
   display: flex; 
}

.nav__item a:hover, .nav__item_active a {
   color: #6E9C9F;
   font-weight: 700;
}

.nav__item:not(:last-child) {
   margin-right: 45px;
}

.nav__link {
}

.header__tel {
   position: relative;
   padding: 0 79px 0 0;
}

.header__tel::before {
   content: '';
   position: absolute;
   display: block;
   background: url('../img/phone.svg');
   width: 27px;
   height: 27px;
   left: -35px;
   transition: all 0.5s ease;
}

.header__tel:hover::before {
   content: '';
   background: url('../img/phone-hover.svg');
}

.header__bag {
   background: url('../img/shopping-bags.svg') no-repeat;
   height: 24px;
   width: 24px;
   position: relative;
}

.header__bag_sum {
   background: #998E78;
   font-size: 9px;
   line-height: 1.0;
   color: #fff;
   border-radius: 50%;
   position: absolute;
   top: -10px;
   right: -10px;
   padding: 1px 5px 3px;
   height: 15px;
   width: 15px;
}

.header-wrapper {
   display: flex;
   justify-content: space-between;
}

.header-wrapper__offer {
}
.offer-wrapper {
}
.offer-wrapper__slider {
}

.offer-wrapper__slides {
   display: none;
}

.offer-wrapper__slides_active {
   display: block;
}

.offer-wrapper__title {
   max-width: 565px;
   width: 100%;
   margin-top: 145px;
   margin-bottom: 45px;
   font-weight: 500;
}

.offer-wrapper__text {
   max-width: 385px;
   width: 100%;
   margin-bottom: 52px;
   text-align: right;
   font-size: 20px;
   font-weight: 400;
}

.offer-wrapper__btn-box {
   display: flex;
   margin-left: 75px;
   margin-bottom: 126px;
}

.box-btn__nav {
   height: 67px;
   width: 67px;
   background: rgba(110, 156, 159, 0.1) url('../img/arrow-button.svg') no-repeat center;
}

.box_btn__link {
   color: #fff;
}

.offer-wrapper__bullet {
}

.bullet-wrapper {
   margin-left: 271px;
   display: flex;
}

.bullet-wrapper__item {
   width: 30px;
   height: 4px;
   background-color: #D1D1D1;
   margin-right: 12px;
}

.bullet-wrapper__item_active {
   background-color: #000;
}

.bullet-wrapper__item:last-child {
   margin-right: 0;
}

.header-wrapper__img {
   position: relative;
}

.img-wrapper {
}
.img-wrapper__slider {

}
.img-wrapper__slides {
   display: none;
}

.img-wrapper__slides_active {
   display: block;
}

.img-wrapper__second {
   position: absolute;
   top: 123px;
   right: -105px;
}

.img-wrapper__third {
   position: absolute;
   bottom: -60px;
   left: -130px;
}

/* collection */
.collection {
}
.container {
}
.collection__title {
}
.title {
}
.collection__wrapper {
   display: flex;
   justify-content: space-between;
}
.collection__item {
}
.item-card {
}

.item-card__box {
   position: relative;
   max-width: 350px;
   width: 100%;
}

.item-card__img {
   /* display: block; */
   object-fit: contain;

}

.item-card__overlay {
   display: flex;
   width: 100%;
   height: 100%;
   background: rgba(110, 156, 159, 0.77);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.item-card__overlay:hover {
   opacity: 1;
}

.item-card__overlay-work {
   display: block;
   margin: auto;
}

.item-cart__title {
}
.item-card__price {
}
.item-card__price_no-discont {
}
.item-card__price_discont {
}
.collection__btn {
}
.second-btn {
}


/* advantages */



/* slider */



/* footer */


