/* Specification */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   color: #000;
   font: 500 17px/1.4em 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-size: 55px;
   line-height: 1.1;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header {
   display: block;
}

input, button {
   font-family:inherit;
   outline: none;
   border: none;
   background-color: transparent; 
}

button {
   cursor: pointer;
}

a, a:visited {
   text-decoration: none;
   color: inherit;
   transition: all 0.5s ease;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   max-width: 100%;
   object-fit: cover;
}

.container {
	max-width: 1110px;
   margin: 0 auto;
}

/* header */



/* collection */



/* advantages */



/* slider */



/* footer */


